.clippy,
.clippy-balloon {
  position: fixed;
  z-index: 1000;
}

.clippy-balloon {
  background: #ffc;
  color: black;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.clippy-content {
  max-width: 200px;
  min-width: 120px;
  font-family: "Microsoft Sans", sans-serif;
  font-size: 10pt;
}

.clippy-tip {
  width: 10px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==)
    no-repeat;
  position: absolute;
}

.clippy-top-left .clippy-tip {
  top: 100%;
  margin-top: 0px;
  left: 100%;
  margin-left: -50px;
}

.clippy-top-right .clippy-tip {
  top: 100%;
  margin-top: 0px;
  left: 0;
  margin-left: 50px;
  background-position: -10px 0;
}

.clippy-bottom-right .clippy-tip {
  top: 0;
  margin-top: -16px;
  left: 0;
  margin-left: 50px;
  background-position: -10px -16px;
}

.clippy-bottom-left .clippy-tip {
  top: 0;
  margin-top: -16px;
  left: 100%;
  margin-left: -50px;
  background-position: 0px -16px;
}

.clippy-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.clippy-input b {
  align-self: flex-start;
  margin-bottom: 5px;
}

.clippy-input textarea {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid grey;
  box-shadow: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

.clippy-input-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.clippy-input-buttons button {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 4px;
  width: 70px;
  padding: 2px;
  cursor: pointer;
}

.clippy-input-buttons button:hover {
  background-color: #eee;
}

.clippy-input-buttons .ask-button {
  margin-right: 5px;
}
